.modalOverlay_wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
    z-index: 999;
    background-color: rgba(192,192,192, 0.7);
    animation: animModalOverlay .15s ease-in forwards;
}

@keyframes animModalOverlay {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}