.wrapper {
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

.content {
    width: 480px;

    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

.input{
    margin-top: 24px;
}

.button{
    margin: 24px 0 80px 0;
}

.content a{
    text-decoration: none;
}