.font{
    font-family: "JetBrains Mono", sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: inherit;

    cursor: pointer;

}

.wrapper:hover {
    color: #F2F2F3;
}

.wrapper:hover svg {
    fill: #F2F2F3;
}

.link {
    composes: font;
    color: #8585AD;
    transition: all 0.8s ease 0s;
}

.link:hover{
    text-decoration: none;
    color: #F2F2F3;
}

.activeLink{
    composes: font;
    text-decoration: none;
    color: #F2F2F3;
}

.block{
    display: flex;
    flex-direction: column;
}

.block:hover span{
    color: #F2F2F3;
}

.footer{
    font-family: "JetBrains Mono", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #8585AD;
    transition: all 0.8s ease 0s;
}

.icon svg {
    transition: all 0.8s ease 0s;
}
