.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 40px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100px;
    max-height: 400px;
    overflow-y: scroll;
}

.content p{
    margin-left: 40px;
}

.activeBorder {
    border: 2px solid #8585AD;
    border-radius: 10px;
}

.content::-webkit-scrollbar {
    width: 8px;
    background-color: #2f2f37;
}

.content::-webkit-scrollbar-thumb {
    background-color: #8585ad;
}

.wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;

    margin: 16px 5px;

    cursor: pointer;
}

.buttonBlock {
    justify-self: auto;

    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;

    margin-top: 40px;
    margin-bottom: 92px;
}

.icon {
    margin-right: 40px;
    margin-left: 9px;
}

.itemUp {
    width: 95%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 150px;
    margin-bottom: 16px;
    padding-left: 25px;
}

.itemDown {
    padding-left: 25px;
    margin-top: 16px;
}