.wrapper{
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: flex-start;

    margin: 100px 400px 0 100px;
}

.form{
    margin-left: 80px;

    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: flex-start;
    gap: 24px;
}

.loader{
    margin-left: 135px;
}

.blockButton{
    margin-left: 60px;
}