.font {
    font-family: "JetBrains Mono", sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.feed_wrapper {
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;

    background-color: inherit;
    border: none;
    border-radius: 40px;

    cursor: pointer;
}

.feed_wrapper:hover {
    color: #F2F2F3;
}

.feed_wrapper:hover svg {
    fill: #F2F2F3;
}

.feed_link {
    composes: font;
    color: #8585AD;
    transition: all 0.8s ease 0s;
}

.feed_link:hover {
    color: #F2F2F3;
}

a {
    text-decoration: none;
}

.feed_activeLink {
    composes: font;
    color: #F2F2F3;
}

.feed_icon svg {
    transition: all 0.8s ease 0s;
}