.wrapper{
    display: grid;
    grid-template-columns: 1fr;
}

.font{
    font-family: 'JetBrains Mono', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;

    text-decoration: none;

    padding: 10px 0;
}

.link{
    composes: font;
    color: #8585AD;
    transition: all 1s ease 0s;
}

.link:hover{
    color: #F2F2F3;
}

.activeLink{
    composes: font;
    color: #F2F2F3;

}