.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
}

.wrapper_form {
    margin-left: 80px;

    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: flex-start;
    gap: 24px;
}

.loader {
    margin-left: 135px;
}

.blockButton {
    margin-left: 60px;
}